.home-services {
	padding-top: 120px;
	margin-top: -130px;
	padding-bottom: 80px;
}

.home-services .service-content {
	max-width: 605px;
}

.service-box {
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
}

.service-box .service-image img {
	transition: all 0.4s ease-in 0s;
	-webkit-transition: all 0.4s ease-in 0s;
}

.service-box .service-info {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #656768;
	text-align: center;
	padding: 30px 16px 10px 16px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	height: 90px;
	transition: height 0.4s;
}

.service-box .service-title {
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.1;
	letter-spacing: 0.6px;
	width: 100%;
	transition: all 0.4s ease-in 0s;
	-webkit-transition: all 0.4s ease-in 0s;
}

.service-box .learn-more {
	color: #ffd655;
	margin-top: 10px;
	display: none;
	transition: all 0.4s ease-in 0s;
	-webkit-transition: all 0.4s ease-in 0s;
}

.service-box:not(:hover) .service-icon {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	top: -52px;
}

.service-box:hover .service-info {
	height: 100%;
	background-color: rgb(101 103 104 / 0.75);
}

.service-box:hover .service-icon {
	position: relative;
	top: 0;
	padding: 20px 16px;
}

.service-box:hover .learn-more {
	display: block;
}

.service-box:hover .service-image img {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

.home-services .owl-dots {
	display: none;
}

.home-services .owl-theme .owl-nav {
	margin: 0;
}

.home-services .owl-theme .owl-nav [class*="owl-"] {
	margin: 0 15px;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
	font-size: 0;
	background-color: transparent !important;
}

.owl-carousel .owl-nav button.owl-next {
	background: url(../images/owl-next.png) no-repeat right center !important;
	width: 41px;
	height: 41px;
}

.owl-carousel .owl-nav button.owl-prev {
	background: url(../images/owl-prev.png) no-repeat left center !important;
	width: 41px;
	height: 41px;
}

.comman-icon {
	width: 82px;
	height: 77px;
	background: url(../images/radius-shap.svg) no-repeat center center;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 50px;
	color: #231f20;
	margin-bottom: 12px;
}
