html,
body {
	overflow-x: hidden;
}

body {
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: #656768;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	background-color: #fff;
}

h1 {
	font-size: 48px;
	line-height: 1.1;
	margin-top: 0;
	margin-bottom: 25px;
	padding: 0;
	font-weight: 300;
	color: #231f20;
	font-family: "Droid Serif", sans-serif;
	text-transform: capitalize;
}

h2 {
	font-size: 32px;
	line-height: 1.1;
	margin-top: 0;
	margin-bottom: 25px;
	padding: 0;
	font-weight: 300;
	color: #231f20;
	font-family: "Droid Serif", sans-serif;
	text-transform: capitalize;
}

h3 {
	font-size: 28px;
	line-height: 1.1;
	margin-top: 0;
	margin-bottom: 25px;
	padding: 0;
	font-weight: 300;
	color: #231f20;
	font-family: "Droid Serif", sans-serif;
	text-transform: capitalize;
}

h4 {
	font-size: 18px;
	line-height: 1.2;
	margin-top: 0;
	margin-bottom: 15px;
	padding: 0;
	font-weight: 700;
}

.optinal-h4 {
	border-left: solid 2px #ffd655;
	padding: 6px 0 5px 14px;
	text-transform: uppercase;
	margin-bottom: 12px;
}

h5 {
	font-size: 18px;
	line-height: 1.3;
	margin-top: 0;
	margin-bottom: 15px;
	padding: 0;
	font-weight: 700;
}

p {
	margin: 0 0 25px 0;
	padding: 0;
}

a {
	color: #231f20;
	outline: none;
	text-decoration: none;
	transition: all 0.3s ease-in 0s;
	-webkit-transition: all 0.3s ease-in 0s;
	-moz-transition: all 0.3s ease-in 0s;
	-o-transition: all 0.3s ease-in 0s;
}

a:hover,
a:focus {
	color: #231f20;
	text-decoration: none;
	outline: none !important;
}

a:not([href]) {
	cursor: pointer;
}

a:not([href]):not([tabindex]) {
	color: #231f20;
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
	color: #231f20;
}

.anchor-bg {
	background-color: #ffc200;
	font-weight: 700;
	border-radius: 4px;
	padding: 0 2px;
}

.learn-more {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
}

.yellow-link {
	color: #ffd655;
}

.yellow-link:hover {
	color: #ffd655;
}

.learn-more [class^="icon-"],
.learn-more [class*=" icon-"] {
	font-size: 20px;
	margin-left: 1px;
	position: relative;
	top: -1px;
}

article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

img {
	max-width: 100%;
	height: auto;
}

img:focus {
	outline: none !important;
}

select,
input,
button,
textarea {
	outline: none !important;
}
